Xft.antialias: true
Xft.dpi: 100

!URxvt.font: xft:monospace:size=10
URxvt.font: xft:DejaVuSansMono:size=10
!URxvt.font: xft:FontAwesome:size=10

URxvt.scrollBar: false
URxvt.transparent: true
URxvt.shading: 50
URxvt.fading: 30
URxvt.lineSpace: 0
URxvt*background: #000000
URxvt*foreground: #ffffff

URxv.iso4755: False
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Meta-v: builtin-string:
URxvt.keysym.Control-Meta-c: builtin-string:

URxvt.saveLines: 20000
